<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885958558380-0bq0bcpi9s7pe54damue2pcfde0uj01l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885958558380-0bq0bcpi9s7pe54damue2pcfde0uj01l</string>
	<key>API_KEY</key>
	<string>AIzaSyA08kgjJhzzWv7Ry3b7GN-aqq4IjnF2r4I</string>
	<key>GCM_SENDER_ID</key>
	<string>885958558380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.g.crisan.SpendingoSwift</string>
	<key>PROJECT_ID</key>
	<string>spendingojs</string>
	<key>STORAGE_BUCKET</key>
	<string>spendingojs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:885958558380:ios:309f6baef11b223b101509</string>
	<key>DATABASE_URL</key>
	<string>https://spendingojs.firebaseio.com</string>
</dict>
</plist>
